.bg{
    background: linear-gradient(106.35deg, #15837f 0%, #388a87 100%);
    border-radius: 30px;
    border: none;

}
input{
    border: none;
    background: none;
    background: linear-gradient(106.35deg, #36b3ae 0%, #4eb8b6 100%);

}
button{
    background: linear-gradient(106.35deg, #36b3ae 0%, #4eb8b6 100%);

}
.docInfoBg{
    background: linear-gradient(106.35deg, #15837f 0%, #388a87 100%);

}