.listCard{
    width: 400px;
    display: inline-block;
    margin: 30px;
    background: none;
    border-radius: 30px;
    border: none;
    background: linear-gradient(106.35deg, #0E918C 0%, #077c78 100%);
}
.bg{
    background: linear-gradient(106.35deg, #15837f 0%, #388a87 100%);

}
img{
    width: 75px;
    height: 75px;

}
.imageSpan{
    position: absolute;
    left: 75%;
    bottom: 35%;
}
.appointmentStatusBtn{
    position:absolute;
    left: 68%;
    top: 78%;
    width: 120px;
    background: linear-gradient(106.35deg, #40adaa 0%, #088884 100%);
color: white;
font-weight: bold;
}