.doctorCard{
    width: 400px;
    display: inline-block;
    margin: 30px;
    background: linear-gradient(106.35deg, #15837f 0%, #388a87 100%);
    border: none;
    border-radius: 30px;

}
button{
    background: linear-gradient(106.35deg, #36b3ae 0%, #4eb8b6 100%);

}
.bg{
    background: linear-gradient(106.35deg, #15837f 0%, #388a87 100%);

}
img{
    width: 120px;
    height: 120px;

}
.imageSpan{
    position: absolute;
    left: 65%;
}